@model IEnumerable<Biz4CMS.Models.QuickLink>
<div class="row clearfix tagline1">
    @foreach (var lnk in Model)
    {
        <div class="col-md-4 column text-center ">
            <img alt="@lnk.Title" class="img-circle" src="@Url.Content(@lnk.FullPath)">
            <h2>
                @lnk.Title
            </h2>
            <p>
                @lnk.Description
            </p>
            <p>
                <a class="btn btn-primary" href="@Url.Content(lnk.Link)">Xem chi tiết</a>
            </p>
        </div>
        
    }
</div>
